<div id="back">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">St. Peter's Table</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="about" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="shop" routerLink="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="login" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="register" routerLink="/register">Register</a>
          </li>
          <li class="nav-item" *ngIf="manageService.manage">
            <a class="nav-link active" aria-current="manage" routerLink="/manage">Manage</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Shop" aria-label="Search" name="search" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-success" [routerLink]="['shop',searchTerm]">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
